@model ExpenseTracker.Models.Category

@{
    ViewData["Title"] = "Create";
}

<div class="container c1">
    <div class="container">
        <div class="row">
            <div class="mb-3">
                <form asp-action="AddOrEdit">
                    <h2>Create Category</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
                    <div class="mb-3 btn-group btn-group-toggle" data-toggle="buttons">
                        <div class="form-group e-btn-group custom-rbt-group">
                            <input type="radio" id="radioleft" name="Type" value="Expense" autocomplete="off" checked="(@Model.Type= =" Expense")" />
                            <label class="e-btn btn-default" for="radioleft">Expense</label>
                            <input type="radio" id="radiomiddle" name="Type" value="Income" autocomplete="off" checked="(@Model.Type= =" Income")" />
                            <label class="e-btn btn-default" for="radiomiddle">Income</label>
                        </div>
                    </div>
                    <div class="form-group mb-3>">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="class-control" />
                    </div>
                    <div class="form-group mb-3>">
                        <label asp-for="Icon" class="control-label"></label>
                        <input asp-for="Icon" class="class-control" />
                    </div>
                    <div class="form-group>">
                        <input type="Submit" class="button btn" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">
        <span class="material-symbols-outlined size">
            list_alt
        </span>
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
